

// Import Bootstrap scss ===============
  @import "bootstrap.scss";

// Typography ==========================
  @import "../fonts/font-awesome/css/font-awesome.css";
  @import "../fonts/SARD/css/sard-icons.css";

// Global styles =======================
  @import "global/colours";

  @import "global/font-roboto";

  @import "global/font-robotoslab";

  @import "global/smoothscroll";

  @import "global/perforations";

  @import "global/typestyles";

  @import "global/typestyles-serif"; // This is only used for the UI version. Delete on final build.

  @import "global/structure";

  @import "global/link-styles";

  @import "global/list-styles";

  @import "global/ui-styles"; // This is only used for the UI version. Delete on final build/


// Component styles =======================

  @import "components/alerts";

  @import "components/forms";

  @import "components/forms-tagsinput";

  @import "components/forms-reveal-if-active";

  @import "components/navbar";

  @import "components/navbar-admin";

  @import "components/navbar-second";

  @import "components/megamenu";

  @import "components/rag-status";

  @import "components/panels";

  @import "components/tables";

  @import "components/buttons";

  @import "components/button-groups";

  @import "components/nav-tabs";

  @import "components/accordions";

  @import "components/tooltips";

  @import "components/notices";

  @import "components/messages";

  @import "components/notifications";

// Page styles ============================

  @import "pages/dashboard";