/*@charset "UTF-8";

@font-face {
  font-family: "sa-quote";
  src:url("../fonts/sa-quote.eot");
  src:url("../fonts/sa-quote.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sa-quote.woff") format("woff"),
    url("../fonts/sa-quote.ttf") format("truetype"),
    url("../fonts/sa-quote.svg#sa-quote") format("svg");
  font-weight: normal;
  font-style: normal;

}*/

/*[data-icon]:before {
  font-family: "sa-quote" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sa-"]:before,
[class*=" sa-"]:before {
  font-family: "sa-quote" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sa-sa-quote:before {
  content: "\62";
}*/




@charset "UTF-8";

@font-face {
  font-family: "sa-icon";
  src:url("../fonts/sa-icon.eot");
  src:url("../fonts/sa-icon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/sa-icon.woff") format("woff"),
    url("../fonts/sa-icon.ttf") format("truetype"),
    url("../fonts/sa-icon.svg#sa-icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

/*[data-icon]:before {
  font-family: "sa-icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sa-"]:before,
[class*=" sa-"]:before {
  font-family: "sa-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sa-sa-quote:before {
  content: "\61";
}
.sa-sa-arrow-up-circle-o:before {
  content: "\62";
}
.sa-sa-arrow-up-circle:before {
  content: "\63";
}*/