
/* SARD Colours ======================== */

$turq:                  #00B2B2;
$pink:                  #E50073;
$orange:                #FF6A00;
$yellow:                #FFB200;
$lime:                  #A7BF30;
$green:                 #359E00;
$teal:                  #004D4D;
$blue:                  #003CB8;
$ink:                   #000078;
$purple:                #52008C;
$plum:                  #990099;
$red:                   #BF0000;
$white:                 #FFFFFF;

$MRv:                   $turq;
$NRv:                   $orange;
$sa-360:                $yellow;
$eLeave:                $lime;
$A4A:                   $plum;
$JPL:                   $pink;
$eRo:                   $teal;
$CPL:                   $red;

//  Greys ==============================
$grey00:                #f0f0f0;
$grey01:                #F0F0F0;
$grey02:                #EDEBEB;
$grey03:                #E3E1E1;
$grey04:                #D9D6D6;
$grey05:                #d0cecd;
$grey06:                #C7C4C2;
$grey07:                #bdbab9;
$grey08:                #B5B0B0;
$grey09:                #aba6a5;
$grey10:                #A39E9C;
$grey11:                #918d8b;
$grey12:                #827D7D;
$grey13:                #716d6c;
$grey14:                #615E5C;
$grey15:                #514e4d;
$grey16:                #403D3D;
$grey17:                #302f2e;
$grey18:                #211F0F;
$grey19:                #0e0e0e;

//  Other Colours ======================
$active:                $grey04; // Used in Bootstrap Overrides Table Hover line 1030.
$success:               $green;
$info:                  #00a0e0;
$warning:               $yellow;
$danger:                $red;
$alert:                 $pink;


// Text Colours ========================

.turq{ color: $turq;}
.pink{ color: $pink;}
.orange{ color: $orange;}
.yellow{ color: $yellow;}
.lime{ color: $lime;}
.green{ color: $green;}
.teal{ color: $teal;}
.blue{ color: $blue;}
.ink{ color: $ink;}
.purple{ color: $purple;}
.plum{ color: $plum;}
.red{ color: $red;}
.white{ color: $white;}
.lightgrey{color:$grey06;}
.grey{color:$grey10;}
.darkgrey{color:$grey12;}

.text-turq{ color: $turq;}
.text-pink{ color: $pink;}
.text-orange{ color: $orange;}
.text-yellow{ color: $yellow;}
.text-lime{ color: $lime;}
.text-green{ color: $green;}
.text-teal{ color: $teal;}
.text-blue{ color: $blue;}
.text-ink{ color: $ink;}
.text-purple{ color: $purple;}
.text-plum{ color: $plum;}
.text-red{ color: $red;}
.text-white{ color: $white;}

.text-MRv{ color: $MRv;}
.text-NRv{ color: $NRv;}
.text-sa-360{ color: $sa-360;}
.text-eLeave{ color: $eLeave;}
.text-A4A{ color: $A4A;}
.text-JPL{ color: $JPL;}
.text-eRo{ color: $eRo;}
.text-CPL{ color: $CPL;} 

.text-grey02{ color: $grey02;}
.text-grey03{ color: $grey03;}
.text-grey04{ color: $grey04;}
.text-grey06{ color: $grey06;}
.text-grey08{ color: $grey08;}
.text-grey10{ color: $grey10;}
.text-grey10{ color: $grey10;}
.text-grey12{ color: $grey12;}
.text-grey14{ color: $grey14;}
.text-grey16{ color: $grey16;}
.text-grey18{ color: $grey18;}

.text-success{ color: $success;}
.text-info{ color: $info;}
.text-warning{ color: $warning;}
.text-danger{ color: $danger;}
.text-alert{ color: $alert;}



// Background Colours ====================

.bg-turq    {background-color: $turq;}
.bg-pink    {background-color: $pink;}
.bg-orange  {background-color: $orange;}
.bg-yellow  {background-color: $yellow;}
.bg-lime    {background-color: $lime;}
.bg-green   {background-color: $green;}
.bg-teal    {background-color: $teal;}
.bg-blue    {background-color: $blue;}
.bg-pink    {background-color: $ink;}
.bg-purple  {background-color: $purple;}
.bg-plum    {background-color: $plum;}
.bg-red     {background-color: $red;}
.bg-white   {background-color: $white;}

.bg-MRv     {background-color: $MRv;}
.bg-NRv     {background-color: $NRv;}
.bg-sa_360  {background-color: $sa_360;}
.bg-eLeave  {background-color: $eLeave;}
.bg-A4A     {background-color: $A4A;}
.bg-JPL     {background-color: $JPL;}
.bg-eRo     {background-color: $eRo;}
.bg-CPL     {background-color: $CPL;}

.bg-grey02  {background-color: $grey02;}
.bg-grey03  {background-color: $grey03;}
.bg-grey04  {background-color: $grey04;}
.bg-grey06  {background-color: $grey06;}
.bg-grey08  {background-color: $grey08;}
.bg-grey10  {background-color: $grey10;}
.bg-grey10  {background-color: $grey10;}
.bg-grey12  {background-color: $grey12;}
.bg-grey14  {background-color: $grey14;}
.bg-grey16  {background-color: $grey16;}
.bg-grey18  {background-color: $grey18;}

.bg-success {background-color: $success;}
.bg-info    {background-color: $info;}
.bg-warning {background-color: $warning;}
.bg-danger  {background-color: $danger;}
.bg-alert   {background-color: $alert;}

// Global Mixins ========================
$bg-default:            $grey04;

$client:                $turq; 
$client-light:          lighten($client, 5%);
$client-very-light:     lighten($client, 10%);
$client-dark:           darken($client, 10%);
$client-very-dark:      darken($client, 20%);

.client{color:$client}
.bg-client   {background-color: $client;}

$medic:                 $turq;
$non-medic:             $ink;

// Admin Mixins =========================
$admin:               $pink;
$admin-light:         lighten($admin, 5%);
$admin-very-light:    lighten($admin, 10%);
$admin-dark:          darken($admin, 10%);
$admin-very-dark:     darken($admin, 20%);

.admin{color:$admin}
.bg-admin   {background-color: $admin;}

