
/* HRs and Dividers ============================= */

hr{
  border-top: 1px solid $grey06;
  margin-top:15px;
  margin-bottom:15px;
}
hr.dashed{border-top: 1px dashed $grey06;}
hr.client{border-top: 1px solid $client;}
hr.dotted-client{border-top: 1px dotted $client;}
hr.dashed-client{border-top: 1px dashed $client;}
hr.admin{border-top: 1px solid $admin;}
hr.dashed-admin{border-top: 1px dashed $admin;}
hr.dark{border-top: 1px solid $grey18;}
hr.dashed-dark{border-top: 1px dashed $grey18;}
hr.white{border-top: 1px solid white;}
hr.dashed-white{border-top: 1px dashed white;}

.container-fluid hr{
  margin: 15px -15px 25px -15px;
}

.container-fluid .row hr{
  margin: 15px -10px 25px -10px;
}

.container-fluid .row [class^='col-'] hr{
  margin: 15px -20px 25px -20px;
}

.divider{
  border-top: 1px solid $grey06;
  margin: 15px 0px 15px 0px
}
.divider-dashed{
  border-top: 1px dashed $grey06;
}

.divider-client{
  border-top: 1px solid $client;
}
.divider-dashed-client{
  border-top: 1px dashed $client;
}

.divider-dark{
  border-top: 1px solid $grey18;
}
.divider-dashed-dark{
  border-top: 1px dashed $grey18;
}

.divider-white{
  border-top: 1px solid white;
}
.divider-dashed-white{
  border-top: 1px dashed white;
}

.divider-admin{
  border-top: 1px solid $admin;
}
.divider-dashed-admin{
  border-top: 1px dashed $admin;
}

// HRs with Dots ========================

.dot-start:before{
  content: "\6c";
  font-family: "sa-icon" !important;
  position:relative;
  top:-1.25em;
  font-size:0.6em;
  color:$grey06;
}
.dot-middle:before{
  content: "\6c";
  font-family: "sa-icon" !important;
  position:relative;
  top:-1.25em;
  font-size:0.6em;
  left: calc(50% - 0.45em);
  color:$grey06;
}
.dot-end:after{
  content: "\6c";
  font-family: "sa-icon" !important;
  position:relative;
  top:-1.25em;
  font-size:0.6em;
  left: calc(100% - 0.9em);
  color:$grey06;
}
.dot-start-end:before{
  content: "\6c";
  font-family: "sa-icon" !important;
  position:relative;
  top:-1.25em;
  font-size:0.6em;
  color:$grey06;
}
.dot-start-end:after{
  content: "\6c";
  font-family: "sa-icon" !important;
  position:relative;
  top:-1.25em;
  font-size:0.6em;
  left: calc(100% - 1.9em);
  color:$grey06;
}

.client.dot-start:before, .client.dot-middle:before, .client.dot-end:after, .client.dot-start-end:before, .client.dot-start-end:after{
  color:$client;
}
.dashed-client.dot-start:before, .dashed-client.dot-middle:before, .dashed-client.dot-end:after, .dashed-client.dot-start-end:before, .dashed-client.dot-start-end:after{
  color:$client;
}

.admin.dot-start:before, .admin.dot-middle:before, .admin.dot-end:after, .admin.dot-start-end:before, .admin.dot-start-end:after{
  color:$admin;
}
.admin-admin.dot-start:before, .dashed-admin.dot-middle:before, .dashed-admin.dot-end:after, .dashed-admin.dot-start-end:before, .dashed-admin.dot-start-end:after{
  color:$admin;
}

.dark.dot-start:before, .dark.dot-middle:before, .dark.dot-end:after, .dark.dot-start-end:before, .dark.dot-start-end:after{
  color:$grey18;
}
.dark-client.dot-start:before, .dashed-dark.dot-middle:before, .dashed-dark.dot-end:after .dashed-dark.dot-start-end:before, .dashed-dark.dot-start-end:after{
  color:$grey18;
}
.white.dot-start:before, .white.dot-middle:before, .white.dot-end:after, .white.dot-start-end:before, .white.dot-start-end:after{
  color:white;
}
.white-client.dot-start:before, .dashed-white.dot-middle:before, .dashed-white.dot-end:after, .dashed-white.dot-start-end:before, .dashed-white.dot-start-end:after{
  color:white;
}



// Perforations ========================

.perf{
  display:block;
  width:100%;
  height: 16px;
  background-repeat: repeat-x;
  background-position: -4px 0px;
  margin: 15px -15px 15px 0px;
}

.container-fluid .perf{
  margin: 15px -15px 25px -15px;
  width: calc(100% + 30px);
}

.container-fluid .row .perf{
  margin: 15px -10px 25px -10px;
  width: calc(100% + 20px);
}

.container-fluid .row [class^='col-'] .perf{
  margin: 15px -20px 25px -20px;
  width: calc(100% + 40px);
}

.perf {
  background-image: url("../graphics/dot_grey04.png");
}

.perf-client {
  background-image: url("../graphics/dot_turq.png");
}

.perf-dark {
  background-image: url("../graphics/dot_grey14.png");
}

.perf-white {
  background-image: url("../graphics/dot_white.png");
}

.panel .perf, .panel hr, .panel .divider{
  margin-left:-15px;
  margin-right:-15px;
  width: calc(100% + 30px);
}




