
/* PERFORATIONS ============================= */

hr{border-top: 1px solid $grey06;}
hr.dashed{border-top: 1px dashed $grey06;}
hr.client{border-top: 1px solid $client;}
hr.client-dashed{border-top: 1px dashed $client;}
hr.admin{border-top: 1px solid $admin;}
hr.admin-dashed{border-top: 1px dashed $admin;}