
/* TYPOGRAPHY ============================= */




//  TYPOGRAPHY GENERAL ========================================================== 

  $text:             $grey18;
  $bodytext:         $grey18;

// Mixins ========================

$defaultFont_Thin:    'robotothin', Helvetica, Arial, Sans-serif; 
$defaultFont_Light:   'robotolight', Helvetica, Arial, Sans-serif; 
$defaultFont_Regular: 'robotoregular', Helvetica, Arial, Sans-serif; 
$defaultFont_Medium:  'robotomedium', Helvetica, Arial, Sans-serif; 
$defaultFont_Bold:    'robotobold', Helvetica, Arial, Sans-serif; 
$defaultFont_Black:   'robotoblack', Helvetica, Arial, Sans-serif; 

$defaultFont_Thin_Italic:    'robotothin_italic', Helvetica, Arial, Sans-serif; 
$defaultFont_Light_Italic:   'robotolight_italic', Helvetica, Arial, Sans-serif; 
$defaultFont_Regular_Italic: 'robotoitalic', Helvetica, Arial, Sans-serif; 
$defaultFont_Medium_Italic:  'robotomedium_italic', Helvetica, Arial, Sans-serif; 
$defaultFont_Bold_Italic:    'robotobold_italic', Helvetica, Arial, Sans-serif; 
$defaultFont_Black_Italic:   'robotoblack_italic', Helvetica, Arial, Sans-serif; 

$secondFont_Thin:    'roboto_slabthin', serif; 
$secondFont_Light:   'roboto_slablight', serif; 
$secondFont_Regular: 'roboto_slabregular', serif; 
$secondFont_Medium: 'roboto_slabregular', serif;
$secondFont_Bold:  'roboto_slabbold', serif; 
$secondFont_Black:  'roboto_slabbold', serif; 



// letter-spacing
  $tight: -0.05em; /* 16 * 0.0312 = 1/2px */
  $reduced: -0.025em; /* 16 * 0.0312 = 1/2px */
  $vslight: 0.025em; 
  $slight: 0.05em; /* 16 * 0.0312 = 1/2px */
  $single: 0.0625em; /* 16 * 0.0625 = 1px */
  $double: 0.125em; /* 16 * 0.125 = 2px */
  
   
// Font Weights ==========================================================
  

.font-thin{
  font-family: $defaultFont_Thin;
  font-weight:normal;
}

.font-thin.serif{
  font-family: $secondFont_Thin;
  font-weight:normal;
}

.font-thin-italic{
  font-family: $defaultFont_Light_Italic;
  font-weight:normal;
}

.font-thin-italic.serif{
  font-family: $secondFont_Thin;
  font-weight:normal;
  font-style:italic;
}

.font-light{
  font-family: $defaultFont_Light;
  font-weight:normal;
}

.font-light.serif{
  font-family: $secondFont_Light;
  font-weight:normal;
}

.font-light-italic{
  font-family: $defaultFont_Light_Italic;
  font-weight:normal;
}

.font-light-italic.serif{
  font-family: $secondFont_Light;
  font-weight:normal;
  font-style:italic;
}

.font-regular{
  font-family: $defaultFont_Regular;
  font-weight:normal;
}

.font-regular.serif{
  font-family: $secondFont_Regular;
  font-weight:normal;
}

.font-regular-italic{
  font-family: $defaultFont_Regular_Italic;
  font-weight:normal;
}

.font-regular-italic.serif{
  font-family: $secondFont_Regular;
  font-weight:normal;
  font-style:italic;
}

.font-medium{
  font-family: $defaultFont_Medium;
  font-weight:normal;
}

.font-medium.serif{
  font-family: $secondFont_Medium;
  font-weight:normal;
}

.font-medium-italic{
  font-family: $defaultFont_Medium_Italic;
  font-weight:normal;
}

.font-medium-italic.serif{
  font-family: $secondFont_Medium;
  font-weight:normal;
  font-style:italic;
}

.font-bold{
  font-family: $defaultFont_Bold;
  font-weight:normal;
}

.font-bold.serif{
  font-family: $secondFont_Bold;
  font-weight:normal;
}

.font-bold-italic{ 
  font-family: $defaultFont_Bold_Italic;
  font-weight:normal;
}

.font-bold-italic.serif{ 
  font-family: $secondFont_Bold;
  font-weight:normal;
  font-style:italic;
}

.font-black{ 
  font-family: $defaultFont_Black;
  font-weight:normal;
  letter-spacing: $vslight;
}

.font-black.serif{ 
  font-family: $secondFont_Black;
  font-weight:normal;
}

.font-black-italic{ 
  font-family: $defaultFont_Black_Italic;
  font-weight:normal;
  letter-spacing: $vslight;
}

.font-black-italic.serif{ 
  font-family: $secondFont_Black;
  font-weight:normal;
  font-style:italic;
}

// Other weights =====================================================

strong, .bold, .strong{ 
  font-family: $defaultFont_Bold;
  font-weight:normal;
}

h5, h6{
  strong, .bold, .strong{ 
    font-family: $defaultFont_Black;
    font-weight:normal;
  }
}

.serif{
  strong, .bold, .strong{ 
    font-family: $secondFont_Bold;
    font-weight:normal;
  }
  h5, h6{
    strong, .bold, .strong{ 
      font-family: $secondFont_Black;
      font-weight:normal;
    }
  }
}

.thin{
  font-family: $defaultFont_Thin;
}
.light{
  font-family: $defaultFont_Light;
}

.thin.serif{
  font-family: $secondFont_Thin;
}
.light.serif{
  font-family: $secondFont_Light;
}
.heavy{
  font-family: $defaultFont_Black;
}
.heavy.serif{
  font-family: $secondFont_Black;
}



// font sizes ========================================================

h1, h2, h3, h4, h5, h6, p, em{
  font-weight:normal;
  font-style:normal;
}
  
h1 {
  font-family: $defaultFont_Thin;
  font-size: 5.000em;
  line-height:1.0em;
  letter-spacing: $reduced;
  margin-left:-0.05em;
  margin-bottom:0.2em;
}
 h1.base{
  margin-bottom:0.1em;
}
h1.serif{
  font-family: $secondFont_Thin;
}

h2 {
  font-family: $defaultFont_Light;
  font-size: 3em;
  line-height:1.1em;
  margin-left:-0.05em;
}
h2.base{
  line-height:1em;
  margin-bottom:0.07em;
}
h2.serif{
  font-family: $secondFont_Light;
}

h3 {
  font-family: $defaultFont_Light;
  font-size: 2.5em;
  line-height:1.1em;
  margin-left:-0.05em;
}
h3.base{
  line-height:1em;
  margin-bottom:0.07em;
}
h3.serif{
  font-family: $secondFont_Light;
}

h4 {
  font-family: $defaultFont_Regular;
  font-size: 1.75em;
  line-height:1.2em;
  margin-left:-0.1em;
}
h4.base{
  line-height:1.1em;
  margin-bottom:0.05em;
}
h4.serif{
  font-family: $secondFont_Regular;
}

h5 {
  font-family: $defaultFont_Medium;
  font-size: 1.5em;
  line-height:1.2em;
}
h5.base{
  line-height:1.1em;
  margin-bottom:0.05em;
}
h5.serif{
  font-family: $secondFont_Medium;
}

h6 {
  font-family: $defaultFont_Bold;
  font-size: 1.2em;
  line-height:1.2em;
}
h6.base{
  line-height:1.1em;
  margin-bottom:0.05em;
}
h6.serif{
  font-family: $secondFont_Bold;
}

p {
  font-family: $defaultFont_Regular;
  font-size: 1.1em;
  line-height:1.4em;
}
p.serif{
  font-family: $secondFont_Regular;
}

em {
  font-family: $defaultFont_Light;
  font-size: 1.500em;
  line-height:1.25em;
}
em.serif{
  font-family: $secondFont_Light;
}

.intro{
  border:none;
  padding:0em 0 0.5em 0;
  margin:0;
  font-family: $defaultFont_Light;
  font-size: 1.7em;
  line-height:1.3em;
}
.intro.serif{
  font-family: $secondFont_Light;
}

blockquote{
  font-family: $defaultFont_Thin;
  border:none;
  padding:0em 0 0.5em 0;
  margin:0;
  font-size: 2.25em;
  line-height:1.2em;
  padding-bottom: 0.5em;
}
blockquote:last-child{
  padding-bottom: 0em;
}
blockquote.serif{
  font-family: $secondFont_Thin;
}

.quote{
  margin:0em 0 0.5em 1.75em;
}

[class^="quote"]:before,
[class*=" quote"]:before {
  content: "\62";
  font-family: "sa-quote" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color:$client;
  font-size: 2em;
  margin-left:-1em;
  position:relative;
  top:0.64em;
}


// Small screens ===============
@media (max-width: 767px) {
  h1{ font-size: 4.000em;}
  h2{ font-size: 2.2em;}
  h3{
    font-family: $defaultFont_Regular;
    font-size: 1.750em;
  }
  h3.serif{
    font-family: $secondFont_Regular;
  }
  h4{font-size: 1.500em;}
  blockquote{font-size: 2em;}
} 



// Other Styles =====================================================

.asterisk{color:$client}
.admin .asterisk{color:$admin}

.center{text-align:center;}
.centre{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}
.half{font-size: 0.5em;} // Makes the text 50% size


hr{border-top: 1px solid $grey06;}
hr.dashed{border-top: 1px dashed $grey06;}
hr.client{border-top: 1px solid $client;}
hr.client-dashed{border-top: 1px dashed $client;}


// multi-column text blocks ==========================================


.multi-column-2, .multi-column-3, .multi-column-4 {
  -webkit-column-gap: 30px;         /* Chrome, Safari, Opera */
  -moz-column-gap: 30px;            /* Firefox */
  column-gap: 30px;
  -webkit-column-rule: 1px solid $client;  /* Chrome, Safari, Opera */
  -moz-column-rule: 1px solid $client;    /* Firefox */
  column-rule: 1px solid $client;
  -webkit-column-rule-width: 1px;   /* Chrome, Safari, Opera */
  -moz-column-rule-width: 1px;      /* Firefox */
  column-rule-width: 1px;
}


// Small screens
@media (max-width: 767px) {
  .multi-column-2, .multi-column-3, .multi-column-4 {
      -webkit-column-count: 1;          /* Chrome, Safari, Opera */
      -moz-column-count: 1;             /* Firefox */
      column-count: 1;
  }
} 

// Medium screens
@media (min-width: 768px) and (max-width: 991px) {
  .multi-column-2, .multi-column-3, .multi-column-4 {
      -webkit-column-count: 2;          /* Chrome, Safari, Opera */
      -moz-column-count: 2;             /* Firefox */
      column-count: 2;
  }
} 


// Large screens
@media (min-width: 992px) and (max-width: 1199px) {
  .multi-column-2 {
      -webkit-column-count: 2;          /* Chrome, Safari, Opera */
      -moz-column-count: 2;             /* Firefox */
      column-count: 2;
  }
  .multi-column-3, .multi-column-4 {
      -webkit-column-count: 3;          /* Chrome, Safari, Opera */
      -moz-column-count: 3;             /* Firefox */
      column-count: 3;
  }
} 


// Large screens
@media (min-width: 1200px) {
  .multi-column-2 {
      -webkit-column-count: 2;          /* Chrome, Safari, Opera */
      -moz-column-count: 2;             /* Firefox */
      column-count: 2;
  }.multi-column-3 {
      -webkit-column-count: 3;          /* Chrome, Safari, Opera */
      -moz-column-count: 3;             /* Firefox */
      column-count: 3;
  }
  .multi-column-4 {
      -webkit-column-count: 4;          /* Chrome, Safari, Opera */
      -moz-column-count: 4;             /* Firefox */
      column-count: 4;
  }
} 










// Glyphicons  & Font Awesome =========================================================================
  
.glyphicon, .fa{ 
  padding: 0 5px 0 0;
}

.glyphicon-ok{color:$green;}
.glyphicon-remove{color:$red;}
.glyphicon-minus{color:$grey16;}
  

