/* UI Styles  ========================== */

.ui-grid{
  background-image: url("../graphics/20px_grid.png");
}

.red-border{ 
  border: 1px dotted $red;
}

.ui-row{
  background-color:$grey04;
  text-align:center;
  margin-bottom:10px;
}
.ui-col{
  background-color:$grey02;
}


    // Small screens
  @media (max-width: 767px) {
    .ui-profile-image{
      width:50%;
    }
  } 

  // Medium screens
  @media (min-width: 768px) and (max-width: 991px) {
    .ui-profile-image{
      width:40%;
      margin-left:-10px;
      margin-top:20px;
    }
  } 


  // Large screens
  @media (min-width: 992px)  {
    .ui-profile-image{
      width:30%;
      margin-left:-10px;
      margin-top:20px;
    }
  } 




