/* ===================================================================================================== */
/* Font Roboto Slab ==================================================================================== */
/* ROBOTO SLAB*/


// Thin


@font-face {
    font-family: 'roboto-slab-thin';
    src: url('../fonts/RobotoSlab/RobotoSlab-Thin-webfont.eot');
    src: url('../fonts/RobotoSlab/RobotoSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab/RobotoSlab-Thin-webfont.woff') format('woff'),
         url('../fonts/RobotoSlab/RobotoSlab-Thin-webfont.ttf') format('truetype'),
         url('../fonts/RobotoSlab/RobotoSlab-Thin-webfont.svg#roboto-slab-thin') format('svg');
    font-weight: normal;
    font-style: normal;
}




// Light


@font-face {
    font-family: 'roboto-slab-light';
    src: url('../fonts/RobotoSlab/RobotoSlab-Light-webfont.eot');
    src: url('../fonts/RobotoSlab/RobotoSlab-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab/RobotoSlab-Light-webfont.woff') format('woff'),
         url('../fonts/RobotoSlab/RobotoSlab-Light-webfont.ttf') format('truetype'),
         url('../fonts/RobotoSlab/RobotoSlab-Light-webfont.svg#roboto-slab-light') format('svg');
    font-weight: normal;
    font-style: normal;
}


// Regular


@font-face {
    font-family: 'roboto-slab-regular';
    src: url('../fonts/RobotoSlab/RobotoSlab-Regular-webfont.eot');
    src: url('../fonts/RobotoSlab/RobotoSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab/RobotoSlab-Regular-webfont.woff') format('woff'),
         url('../fonts/RobotoSlab/RobotoSlab-Regular-webfont.ttf') format('truetype'),
         url('../fonts/RobotoSlab/RobotoSlab-Regular-webfont.svg#roboto-slab-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}



// Bold


@font-face {
    font-family: 'roboto-slab-bold';
    src: url('../fonts/RobotoSlab/RobotoSlab-Bold-webfont.eot');
    src: url('../fonts/RobotoSlab/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RobotoSlab/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../fonts/RobotoSlab/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../fonts/RobotoSlab/RobotoSlab-Bold-webfont.svg#roboto-slab-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}


