/* ===================================================================================================== */
/* LIST Styles ========================================================================================= */

  ul { // Removes bullet and indent globally
    padding: 0;
    list-style-type: none;
    list-style: none;
  }

  ol{
    padding-left:30px
  }
    

  ul.bullet-list{
    padding-left:12px;
    list-style: none;
    li::before {
      content: "•"; 
      display: inline-block; width: .55em;
      margin-left: -.55em;
      font-size: 190%;
      vertical-align:middle;
      line-height:.4em;
    }
    li{ padding-bottom:.5em;}
    li:last-of-type{ padding-bottom:0em;}
  }


li p { // This adjust the spacing and indents of multi line links in a list
    padding-left: 1.25em;
    text-indent:-1.25em;
    margin-bottom:0.5em;
    line-height: 1.3em;
  }