/* Navbar Default  ================================================ */

$navBase        : darken($client, 0%);
$navHover       : darken($navBase, 12.5%);
$navFocus       : darken($navBase, 15%);
$navActive      : darken($navBase, 10%);
$navText        : white;
$navActiveFocus  : darken($navBase, 15%);
$navFont        : $fontBold;



.navbar-default {
  background-color:$navBase;
  color:$navText;
  border:none;
  border-radius: 0;
  font-family: $navFont;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $navText;
}

.navbar-default .navbar-nav > li > a {
  color: $navText;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $navHover;
  color: $navText;
}

.navbar-default .navbar-nav > li > a:focus {
  background-color:$navFocus;
  color: $navText;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover{
  background-color:$navActive;
  color: $navText;
}

.navbar-default .navbar-nav > .active > a:focus{
  background-color:$navActiveFocus;
  color: $navText;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover{
  background-color:$navActive;
  color: $navText;
}

.navbar-default .navbar-nav > .open > a:focus{
  background-color:$navActiveFocus;
  color: $navText;
}

// Dropdown menu ===================================================

.navbar-default .navbar-nav .dropdown-menu{
  border:none;
  background-color:$navActive;
  border-radius: 0;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
  font-family: $navFont;
  color: $navText;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover{
  background-color: $navActive;
  color: $navText;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: $navActiveFocus;
  color: $navText;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $navText;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    background-color: $navActive;
    color: $navText;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, {
    background-color: $navActiveFocus;
    color: $navText;
  }
}

// Toggle Button ===================================================

.navbar-default .navbar-toggle{
  border:none;
  background-color:$navActive;
}

.navbar-default .navbar-toggle:hover{
  background-color: $navHover;
}
.navbar-default .navbar-toggle:focus{
  background-color: $navActiveFocus;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: $navText;
}

// Navbar Collapse =================================================

.navbar-fixed-top .navbar-collapse, 
.navbar-fixed-bottom .navbar-collapse{
  max-height:100%;
}

// =================================================================
// Add adjustments Here ============================================


.navbar-footer{
  background-color:$grey16;
  color:$navText;
  border:none;
  font-family: $navFont;
  min-height:auto;
}
.navbar-footer a:link{
  color:$navBase;
}
.navbar-footer a:visited{
  color:$navBase;
}
.navbar-footer a:hover{
  color:$navHover;
}