/* Navbar Default  ================================================ */

$navBase        : darken($client, 0%);
$navHover       : darken($navBase, 15%);
$navFocus       : darken($navBase, 20%);
$navActive      : darken($navBase, 20%);
$navText        : white;
$navActiveFocus : darken($navBase, 20%);
$navDropdown    : darken($navBase, 20%);
$navFont        : $defaultFont_Bold;


@media (min-width: 768px){
  .navbar{
    min-height:50px;
    height:50px;
  }
}

.navbar-default {
  background-color:$navBase;
  color:$navText;
  border:none;
  border-radius: 0;
  font-family: $navFont;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $navText;
}

.navbar-default .navbar-nav > li > a {
  color: $navText;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $navHover;
  color: $navText;
}

.navbar-default .navbar-nav > li > a:focus {
  background-color:$navFocus;
  color: $navText;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover{
  background-color:$navActive;
  color: $navText;
}

.navbar-default .navbar-nav > .active > a:focus{
  background-color:$navActiveFocus;
  color: $navText;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover{
  background-color:$navActive;
  color: $navText;
}

.navbar-default .navbar-nav > .open > a:focus{
  background-color:$navActiveFocus;
  color: $navText;
}

// Dropdown menu ===================================================

.navbar-default .navbar-nav .dropdown-menu{
  border:none;
  background-color:$navDropdown;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > .dropdown-menu{
  padding:0;
}

.navbar-default .navbar-nav > li > .dropdown-menu .divider{
  margin:5px 0;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
  font-family: $navFont;
  color: $navText;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover{
  background-color: darken($navDropdown, 10%);
  color: $navText;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: darken($navDropdown, 5%);
  color: $navText;
}

.navbar-default .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  background-color: darken($navDropdown, 5%);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover{
  background-color:$navDropdown;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color:$navDropdown;
    color: $navText;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    background-color: darken($navDropdown, 10%);
    color: $navText;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, {
    background-color: darken($navDropdown, 10%);
    color: $navText;
  }
}

// Toggle Button ===================================================

.navbar-default .navbar-toggle{
  border:none;
  background-color:$navActive;
}

.navbar-default .navbar-toggle:hover{
  background-color: $navHover;
}
.navbar-default .navbar-toggle:focus{
  background-color: $navActiveFocus;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: $navText;
}

// Navbar Collapse =================================================

.navbar-fixed-top .navbar-collapse, 
.navbar-fixed-bottom .navbar-collapse{
  max-height:100%;
  border:none;
  box-shadow:none;
}

.navbar-fixed-top .navbar-collapse .navbar-nav, 
.navbar-fixed-bottom .navbar-collapse .navbar-nav{
  margin:0 -15px;
}

.navbar-fixed-top .navbar-collapse .navbar-nav > li > a, 
.navbar-fixed-bottom .navbar-collapse .navbar-nav > li > a{
  padding-left: 20px; // changed from 15px
  padding-right: 20px; // changed from 15px
}

@media (max-width: 767px){
  .navbar-fixed-top .col-xs-12{
  padding-left: 0px; // changed from 15px
  padding-right: 0px; // changed from 15px
}
}

// =================================================================
// Navbar Inverse ============================================

.navbar-inverse{
  border:none;
  border-radius: 0;
  font-family: $navFont;

}

// =================================================================
// Navbar Footer ============================================


.navbar-footer-default{
  background-color:$grey16;
  color:$navText;
  border:none;
  font-family: $navFont;
  min-height:35px;
  height:35px;
}
.navbar-footer-default a:link{
  color:$navBase;
}
.navbar-footer-default a:visited{
  color:$navBase;
}
.navbar-footer-default a:hover{
  color:$navHover;
}

// Colours ======================================================


.navbar-default .btn { background-color: darken($teal, 5%); color:white!important;}
.navbar-default .btn:visited { background-color: darken($teal, 5%); color:white!important;}
.navbar-default .btn:hover { background-color: darken($teal, 7%); color:white!important;}
.navbar-default .btn:focus { background-color: darken($teal, 9%)!important;}
.navbar-default .btn:active  { background-color: darken($teal, 11%)!important;}

.navbar-admin .btn { background-color: darken($admin, 30%); color:white!important;}
.navbar-admin .btn:visited { background-color: darken($admin, 30%); color:white!important;}
.navbar-admin .btn:hover { background-color: darken($admin, 32%); color:white!important;}
.navbar-admin .btn:focus { background-color: darken($admin, 35%)!important;}
.navbar-admin .btn:active  { background-color: darken($admin, 35%)!important;}

