/* ===================================================================================================== */
/* Accordions ========================================================================================== */

// Add .toggle-plus to the .panel-header to include a + - symbol to it 

.toggle-plus.panel-heading a:link:after{
  font-family: 'FontAwesome';
  content: "\f068"; // minus
  color:white;
  float:right;
}
.toggle-plus.panel-heading a:link.collapsed:after{
  font-family: 'FontAwesome';
  content: "\f067"; // plus
  color:white;
  float:right;
}

// Toggle Panels that arn't an accordion ======================================
.toggle-panel .panel-heading a:link{
  color: white;
}

.toggle-panel .panel-heading a:link:after{
  margin-top: -17px;
  font-size: 1.25em;
}


// Make Accordion Panel Headings as a link ====================================


.accordion .panel-heading .accordion-toggle {
  display: block;
}

/* set panel-heading paddings to <a> instead of h3 */    
.accordion .panel-heading { 
  padding:0px;
  color:white;
}

.accordion .panel-heading a:link{ // This makes the entire panel-heading a link
  padding:10px 15px;
  color:white;
  text-decoration:none;
}

.accordion .panel-heading a:visited{ // This makes the entire panel-heading a link
  color:white;
}

.accordion .panel-heading h3{ 
  margin:0; // Adjusts some strange overlap of the panel-heading
}


// Default Colouring =========================================================
$accordian: $grey14;


/* change color of open class */
.accordion .panel-heading h3{ 
  background-color: darken($accordian, 15%); 
}
.accordion .panel-heading h3:hover{
  background-color:darken($accordian, 20%);
}
.accordion .panel-heading h3:active{
  background-color:darken($accordian, 25%);
}

/* change color of collapsed class */
.accordion .collapsed { 
  background-color: darken($accordian, 0%); 
}
.accordion .collapsed:hover { 
  background-color: darken($accordian, 5%); 
}
.accordion .collapsed:active { 
  background-color: darken($accordian, 10%); 
}

.accordion .panel-footer{
  background-color: darken($accordian, 5%);
  color:white;
  border:none;
}



// Admin Colouring ==========================================================

/* change color of open class */
.accordion.panel-admin .panel-heading h3{ 
  background-color: darken($admin, 0%); 
}

.accordion.panel-admin .panel-heading h3:hover{
  background-color:darken($admin, 5%);
}
.accordion.panel-admin .panel-heading h3:active{
  background-color:darken($admin, 10%);
}

/* change color of collapsed class */
.accordion.panel-admin .collapsed { 
  background-color: darken($admin, 0%); 
}
.accordion.panel-admin .collapsed:hover { 
  background-color: darken($admin, 5%); 
}
.accordion.panel-admin .collapsed:active { 
  background-color: darken($admin, 10%); 
}

.accordion.panel-admin .panel-footer{
  background-color: darken($admin, 0%);
}