// // Navbar Second =======================================================

$second-navbar        : $client;
$secondNavBG          : darken($second-navbar, 10%);
$secondNavHover       : darken($second-navbar, 15%);
$secondNavActive      : darken($second-navbar, 20%);
$secondNavDropdownBG  : darken($second-navbar, 15%);

$second-navbar-admin  : $admin;
$secondNavBG-admin          : darken($second-navbar-admin, 10%);
$secondNavHover-admin      : darken($second-navbar-admin, 15%);
$secondNavActive-admin      : darken($second-navbar-admin, 20%);
$secondNavDropdownBG-admin  : darken($second-navbar-admin, 15%);

.navbar-second{
  min-height:40px!important;
  // height:40px;
  padding:10px 5px;
  margin-top:-20px;
  margin-bottom:20px!important;
}

@media (max-width: 767px){
  .navbar-second{
    padding-bottom:0!important;
  }
}

@media (min-width: 768px){
  .navbar-second{
    height:40px;
  }
}

.navbar-second form{
    margin:0;
    margin-top:-4px;
    padding-right:0;
  }
.navbar-second form .input-group > .form-control{
    height:29px;
  }


.navbar-second {
  background-color: $secondNavBG;
  border:none; // Added
  margin-bottom:0;
}

.navbar-second .navbar-text {
  color: $navText;
}
.navbar-second .navbar-nav > li > a {
  color: $navText;
  padding: 10px;
  margin-top:-10px;
}
.navbar-second .navbar-nav > li > a:hover,
.navbar-second .navbar-nav > li > a:focus {
  color: $navText;
  background-color: $secondNavHover;
}
.navbar-second .navbar-nav > .active > a,
.navbar-second .navbar-nav > .active > a:hover,
.navbar-second .navbar-nav > .active > a:focus {
  color: $navText;
  background-color: $secondNavHover;
}

.navbar-second .navbar-nav > .open > a,
.navbar-second .navbar-nav > .open > a:hover,
.navbar-second .navbar-nav > .open > a:focus {
  background-color: $secondNavActive ;
  color: $navText;
}

.navbar-second .navbar-collapse,
.navbar-second .navbar-form {
  border-color: $second-navbar ;
}

// dropdown -------------------------------------------------------------

.navbar-second .navbar-nav > li > .dropdown-menu {
  border-radius: 0;
  background-color:$secondNavDropdownBG;
  border:none;
  color: $navText;
}

.navbar-second .navbar-nav .dropdown-menu > li > a {
  color: $navText;
}

.navbar-second .navbar-nav .dropdown-menu > li > a:hover,
.navbar-second .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: $secondNavActive;
  color: $navText;
}

.navbar-second .navbar-nav .open .dropdown-menu > li > a {
  color: $navText;
}
.navbar-second .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-second .navbar-nav .open .dropdown-menu > li > a:focus {
  color: $navText;
  background-color: $secondNavActive;
}
.navbar-second .navbar-nav .open .dropdown-menu > .active > a,
.navbar-second .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-second .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: $navText;
  background-color: $secondNavActive;
}


// Small screens --------------------------------------------------------
@media (max-width: 767px) {

    #second-navbar .container{
      // padding-left:25px;
      // padding-right:15px;
    }

    #second-navbar form{
      border:none;
      padding-bottom:10px;
    }

    #second-navbar .navbar-nav{
      margin:5px 0px;
    }

    .navbar-second .navbar-nav > li > a {
      padding: 5px 10px;
      margin-top:0px;
    }
    .navbar-second .navbar-nav > li:last-child > a{
      padding-bottom:10px;
    }

    .navbar-second .navbar-nav .open .dropdown-menu > li > a {
      color: $navText;
    }
    .navbar-second .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-second .navbar-nav .open .dropdown-menu > li > a:focus {
      color: $navText;
      background-color: $secondNavActive;
    }
    .navbar-second .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-second .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-second .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: $navText;
      background-color: $secondNavActive;
    }
}
// End small screens


// Navbar Forms =========================================================

.navbar-second form{
  margin-top:-9px;
  margin-bottom:-9px;
}

// Admin Colours ========================================================

.navbar-admin.navbar-second {
  background-color: $secondNavBG-admin;
}

.navbar-admin.navbar-second .navbar-nav > li > a:hover,
.navbar-admin.navbar-second .navbar-nav > li > a:focus {
  background-color: $secondNavHover-admin;
}

.navbar-admin.navbar-second .navbar-nav > .active > a,
.navbar-admin.navbar-second .navbar-nav > .active > a:hover,
.navbar-admin.navbar-second .navbar-nav > .active > a:focus {
  background-color: $secondNavHover-admin;
}

.navbar-admin.navbar-second .navbar-nav > .open > a,
.navbar-admin.navbar-second .navbar-nav > .open > a:hover,
.navbar-admin.navbar-second .navbar-nav > .open > a:focus {
  background-color: $secondNavActive-admin ;
}

.navbar-admin.navbar-second .navbar-collapse,
.navbar-admin.navbar-second .navbar-form {
  border-color: $second-navbar-admin ;
}
// dropdown -------------------------------------------------------------

.navbar-admin.navbar-second .navbar-nav > li > .dropdown-menu {
  background-color:$secondNavDropdownBG-admin;
}

.navbar-admin.navbar-second .navbar-nav .dropdown-menu > li > a:hover,
.navbar-admin.navbar-second .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: $secondNavActive-admin;
}

.navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > li > a:focus {
  background-color: $secondNavActive-admin;
}
.navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > .active > a,
.navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > .active > a:focus {
  background-color: $secondNavActive-admin;
}

// Small screens --------------------------------------------------------
@media (max-width: 767px) {
  .navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: $secondNavActive-admin;
  }
  .navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-admin.navbar-second .navbar-nav .open .dropdown-menu > .active > a:focus {
    background-color: $secondNavActive-admin;
  }
}
// End small screens