/* Navbar Default  ================================================ */

$navBase        : darken($client, 0%);
$navHover       : darken($navBase, 15%);
$navFocus       : darken($navBase, 20%);
$navActive      : darken($navBase, 20%);
$navText        : white;
$navActiveFocus : darken($navBase, 20%);
$navDropdown    : darken($navBase, 20%);
$navFont        : $font-bold;




@media (max-width: 767px){
  .navbar{
    min-height:50px;
    height:auto;
  }

    .navbar-header{
    min-height:50px;
    height:50px;
  }

  .navbar-nav{
    margin:0 -15px;
  }
}

@media (min-width: 768px){
  .navbar{
    min-height:50px;
    height:50px;
  }

  .navbar-right{
    margin-right:10px;
  }
}

.navbar-default {
  background-color:$navBase;
  color:$navText;
  border:none;
  border-radius: 0;
  font-family: $navFont;
}

.navbar-brand{
  font-family: $font-light;
  font-size:2em;
  line-height:0.6em;
  padding: 14.5px 20px 14.5px 14px;
  min-height:50px;
  height:50px;
  color:white;
}
.navbar-brand > a{
  color:white;
  text-decoration:none;
}

[class^="navbar-brand"]:before,
[class*=" navbar-brand"]:before {
  content: "\e005";
  font-family: "sa-icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color:white;
  font-size: 1em;
  line-height:0em;
  margin-right:0.15em;
  position:relative;
  top:0.15em;
}

.navbar-default {
  background-color:$navBase;
  color:$navText;
  border:none;
  border-radius: 0;
  font-family: $navFont;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: $navText;
}


@media (min-width: 768px) {
  .navbar-nav > li > a{
    min-height:50px;
    height:50px;
    padding:15px 10px;
  }
}

.navbar-default .navbar-nav > li > a {
  color: $navText;
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $navHover;
  color: $navText;
}

.navbar-default .navbar-nav > li > a:focus {
  background-color:$navFocus;
  color: $navText;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover{
  background-color:$navActive;
  color: $navText;
}

.navbar-default .navbar-nav > .active > a:focus{
  background-color:$navActiveFocus;
  color: $navText;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover{
  background-color:$navActive;
  color: $navText;
}

.navbar-default .navbar-nav > .open > a:focus{
  background-color:$navActiveFocus;
  color: $navText;
}

// Dropdown menu ===================================================

.navbar-default .navbar-nav .dropdown-menu{
  border:none;
  background-color:$navDropdown;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > .dropdown-menu{
  padding:0;
}

.navbar-default .navbar-nav > li > .dropdown-menu .divider{
  margin:5px 0;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
  font-family: $navFont;
  color: $navText;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:hover{
  background-color: darken($navDropdown, 10%);
  color: $navText;
}

.navbar-default .navbar-nav .dropdown-menu > li > a:focus, {
  background-color: darken($navDropdown, 5%);
  color: $navText;
}

.navbar-default .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
  background-color: darken($navDropdown, 5%);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover{
  background-color:$navDropdown;
}

@media (max-width: 767px){
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    background-color:$navDropdown;
    color: $navText;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover{
    background-color: darken($navDropdown, 10%);
    color: $navText;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, {
    background-color: darken($navDropdown, 10%);
    color: $navText;
  }
}

// Toggle Button ===================================================

.navbar-default .navbar-toggle{
  border:none;
  background-color:$navActive;
  margin-top:9px;
  margin-bottom:9px;
}

.navbar-default .navbar-toggle:hover{
  background-color: $navHover;
}
.navbar-default .navbar-toggle:focus{
  background-color: $navActiveFocus;
}

.navbar-default .navbar-toggle .icon-bar{
  background-color: $navText;
}

// Navbar Collapse =================================================

.navbar-fixed-top .navbar-collapse, 
.navbar-fixed-bottom .navbar-collapse{
  max-height:100%;
  border:none;
  box-shadow:none;
  width:calc(100% + 30px);
}

.navbar-fixed-top .navbar-collapse .navbar-nav, 
.navbar-fixed-bottom .navbar-collapse .navbar-nav{
  // margin:0 -15px;
}

.navbar-fixed-top .navbar-collapse .navbar-nav > li > a, 
.navbar-fixed-bottom .navbar-collapse .navbar-nav > li > a{
  // padding-left: 10px; // changed from 15px
  // padding-right: 10px; // changed from 15px
}

@media (max-width: 767px){
  .navbar-fixed-top .col-xs-12{
    // padding-left: 0px; // changed from 15px
    // padding-right: 0px; // changed from 15px
  }
  .navbar-fixed-top .navbar-collapse .navbar-nav > li > a, 
  .navbar-fixed-bottom .navbar-collapse .navbar-nav > li > a{
    // padding:10px 15px;
    min-height:auto;
    height:auto;
  }
}

// =================================================================
// Navbar Inverse ============================================

.navbar-inverse{
  border:none;
  border-radius: 0;
  font-family: $navFont;

}

// =================================================================
// Navbar Footer ============================================


.navbar-fixed-bottom{
  background-color:$grey16;
  color:$navText;
  border:none;
  font-family: $navFont;
  font-size: 14px;
  padding-top:7px;
  min-height:35px;
  height:35px;
}
.navbar-fixed-bottom a:link{
  color:$navBase;
}
.navbar-fixed-bottom a:visited{
  color:$navBase;
}
.navbar-fixed-bottom a:hover{
  color:darken($navBase, 5%);
}

// Navbar Forms ======================================================

.navbar-form{
  margin-top:8px;
  margin-bottom:8px;
}
// Navbar buttons ======================================================

.navbar .btn{
  font-size: 14px;
  padding: 7px 10px;
  border-radius:22px;
  margin-top:-10px;
}

@media (max-width: 767px){
  .navbar .btn{
    margin-top:0px;
  }
}

.navbar .input-group .btn{
  font-size: 14px;
  padding: 4px 10px;
  border-radius:0px 20px 20px 0px;
  margin-top:0px;
}

.navbar-default .btn { background-color: darken($teal, 5%); color:white!important;}
.navbar-default .btn:visited { background-color: darken($teal, 5%); color:white!important;}
.navbar-default .btn:hover { background-color: darken($teal, 7%); color:white!important;}
.navbar-default .btn:focus { background-color: darken($teal, 9%)!important;}
.navbar-default .btn:active  { background-color: darken($teal, 11%)!important;}

.navbar-admin .btn { background-color: darken($admin, 30%); color:white!important;}
.navbar-admin .btn:visited { background-color: darken($admin, 30%); color:white!important;}
.navbar-admin .btn:hover { background-color: darken($admin, 32%); color:white!important;}
.navbar-admin .btn:focus { background-color: darken($admin, 35%)!important;}
.navbar-admin .btn:active  { background-color: darken($admin, 35%)!important;}



// Tweaks =========================
// These are small adgustments for the site

.navbar li .fa{
  color:white;
}

.navbar .fa-2x{
  margin-top:-5px;
}

.navbar hr{
  margin-top:5px;
}