/* ===================================================================================================== */
/* Notices ============================================================================================= */

// See rag.status.scss for status styles =============

.notice .panel-body{
  padding:0;
}

.notice ul{
  margin:0;
}

 .notice ul li {
  // background-color:red;
  padding:8px 15px;;
  border-bottom: 1px solid $grey06;
 }

 .notice ul li:last-of-type{
  border-bottom: none;
 }

.notice ul li:hover {
  background-color:$tableHoverHover;
 }

 .notice ul li a{
  color:$text;
  text-decoration:none;
 }

.notice { 
  li h1, li h2, li h3, li h4, li h5, li h6, li p{
    margin:0;
    font-size:1.1em;
    line-height:1.2em;
  }

  li.status{
    min-height:50px;
  }

  li.status { 
    h1, h2, h3, h4, h5, h6, p{
    margin-left:38px;
    }
  }

  li.status:before{
    height: 36px;
    width: 36px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    font-size:1.2em;
    line-height:1.5em;
    padding-top:4px;
    padding-left:1px;
    margin-left:-7px;
  }

  li.status.status-sm{
    min-height:30px;
  }

  li.status.status-sm { 
    h1, h2, h3, h4, h5, h6, p{
    margin-left:22px;
    }
  }

  li.status.status-sm:before{
    height: 22px;
    width: 22px;
    background-size: 28px 28px;
    background-repeat: no-repeat;
    font-family: $font-bold;
    font-size:1em;
    line-height:0.75em;
    // padding-top:4px;
    padding-left:1px;
    margin-left:-7px;
    margin-top:-1px;
  }
}

.notice { 
  .single h1, .single h2, .single h3, .single h4, .single h5, .single h6, .single p{
    line-height:2.4em;
  }
}